
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 0.1em;
}

img { max-width: 100%; height: auto; }

.card-background{background-color: #373a3c; border-color: #373a3c}

.card-clickable{
  cursor:pointer;
  border-width: 5px;
}

.card-clickable:hover {
  border-style: solid;
  border-width: 5px;
  border-color: #673ab7;
}
