<div class="container">
  <row>
    <div class='col-xs-12'>
      <div class="jumbotron">
          <h1 class="display-6">Canadian Exports in Context</h1><br/>
          <p>A website for visualizing Canadian Export Data. There are currently 2 visualizations. More to be added periodically.</p>
      </div>
    </div>
  </row>
  <row>
      <div class='col-xs-12 col-sm-6'>
        <div (click)="redirectToProp()" class="card-clickable card card-inverse card-background">
          <h3 class="card-header card-background">Export Proportions</h3>
          <div class="card-block">
            <h4 class="card-title">View exports by product in successive pie charts.</h4>
            <img class="card-img-bottom" src="pieChart.png" />
          </div>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6'>
        <div (click)="redirectToGeos()" class="card-clickable card card-inverse card-background">
          <h3 class="card-header card-background">Export Geographies</h3>
          <div class="card-block">
            <h4 class="card-title">View export amounts by country and US state on maps.</h4>
            <img class="card-img-bottom" src="geoChart.png" />
          </div>
        </div>
      </div>
  </row>
</div>
